:root {
  // Fonts
  --quicksand: "Quicksand", sans-serif;
  --primary-font: var(--quicksand);

  // Colors
  --primary-color: #cc2b5e;
  --darker-primary-color: #b12451;
  --secondary-color: #ffcc00;
  --darker-secondary-color: #d4aa00;
  --text-color: #292d32;
  --link-color: #292d32;
  --alt-text-color: #616e7d;
  --border-color: #eaeaea;

  // Sizes
  --app-bar-height: 4em;
  --profile-height: 6em;
}
