:root {
  // Fonts
  --quicksand: "Quicksand", sans-serif;
  --primary-font: var(--quicksand);

  // Colors
  --primary-color: #cc2b5e;
  --secondary-color: #ffcc00;
  --text-color: #292d32;
  --link-color: #292d32;
  --alt-text-color: #616e7d;

  // Sizes
  --app-bar-height: 5em;
}
