:root {
  // Fonts
  --mulish: "Mulish", sans-serif;
  --primary-font: var(--mulish);

  // Colors
  --primary-color: #cc2b5e;
  --text-color: #292d32;
  --link-color: #292d32;
  --alt-text-color: #616e7d;
}
