@import "main";

#app-bar {
  background-color: var(--primary-color);
  height: var(--app-bar-height);
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  #person-name,
  #person-title {
    line-height: 1;
    text-align: right;
    margin-bottom: 0;
  }

  #person-name {
    font-weight: 600;
  }

  #person-title {
    font-size: 0.8em;
  }
}

#profile {
  background-color: white;
  position: relative;
  top: var(--app-bar-height);
  position: sticky;
  width: 100%;
  height: 10em;
  border-bottom: 1px solid var(--border-color);
  z-index: 3;
}

#icon-grid {
  top: calc(var(--app-bar-height));
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1140px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}
